
@{
    ViewBag.Title = "CreateUser";
}





<div id="CreateUserPage">

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2 class="centerAlignText"  style=" font-family: Balthazar; font-size: 100px">Create User</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>Create an account.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <input class="inputField vertical-center" value="" placeholder="User Name" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <input class="inputField vertical-center" type="password" value="" placeholder="Password" />
        </div>
    </div>

    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <a id="createUserBtn" class="vertical-center" href="/Login/Login">Create</a>
        </div>
    </div>

</div>