
@{
    ViewBag.Title = "Profile";
}

<h1>Profile</h1>
<a class="btn btn-default" href="/Home/Index">Back</a>
<div style="margin-top: 10px" class="row">
    <div style="border: 1px double white; border-radius: 10px;" class="col-md-12">
        <h3>Personal Details</h3>
        <div  class="row">
            <div class="col-md-2">
                <label>Name</label>
            </div>
            <div class="col-md-4">
                <label>Jade</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Surname</label>
            </div>
            <div class="col-md-4">
                <label>Lario</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>User Name</label>
            </div>
            <div class="col-md-4">
                <label>Lario2323</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Email</label>
            </div>
            <div class="col-md-4">
                <label>Lario@dic.mail</label>
            </div>
        </div>


    </div>

</div>

<div style="margin-top: 10px" class="row">
    <div style="border: 1px double white; border-radius: 10px"  class="col-md-12">
        <h3>Points</h3>
        <div class="row">
            <div class="col-md-2">
                <label>Total Points</label>
            </div>
             <div class="col-md-4">
                <label>0</label>
            </div>
        </div>
          <div class="row">
            <div class="col-md-2">
                <label>Quizes completed</label>
            </div>
               <div class="col-md-4">
                <label>0</label>
            </div>
        </div>
          <div class="row">
            <div class="col-md-2">
                <label>Tasks completed</label>
            </div>
               <div class="col-md-4">
                <label>0</label>
            </div>
        </div>

    </div>

</div>
